<footer class="mt-2">
        <hr class="bg-dark" />
        <div class="text-white-50 ms-4 small">
            <span>
                &copy;@DateTime.Now.Year <a target="_blank" class="text-white" href="http://www.wcyber.net"></a>
                <img src="~/wcyber-logo.png" style="height:36px" />
                <span class="text-white">Asset Management System</span>
            </span>
            <i class="mdi mdi-circle small text-white-50"></i>
            @*<span><a href="#" class="text-blue">Privacy policy</a></span>*@
            <i class="mdi mdi-circle small"></i>
            <span><a href="#" class="text-blue">Terms and conditions</a></span>
            <div class="float-end">
                <a class="btn btn-outline-light btn-sm" href="#">Sign-in <i class="mdi mdi-login-variant"></i></a>
                <a class="btn btn-outline-light btn-sm" href="#">Register <i class="mdi mdi-account-plus"></i></a>
            </div>
        </div>
    </footer>