@{
    var area = ViewContext.RouteData.Values["area"]?.ToString()!.ToLower();
}
@*<ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Index"><i class="fa fa-home icon-color"></i> Home</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Index"><i class="fa fa-shield-alt icon-color"></i> Privacy</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Index"><i class="fa fa-info-circle icon-color"></i> About us</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Index"><i class="fa fa-mail-bulk icon-color"></i> Contact us</a></li>
</ul>*@
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item active">
        <a class="nav-link text-light" asp-area="" asp-page="/Index"><i class="fa-solid fa-house icon-color"></i> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-area="" asp-page="/HowItWorks"><i class="fa-solid fa-circle-question icon-color"></i> How it works</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-area="" asp-page="/Contact"><i class="fa-solid fa-phone icon-color"></i> Contact us</a>
    </li>
</ul>
